# Dependencies
node_modules
server/node_modules
dashboard/node_modules

# Environment files
.env
server/.env
dashboard/.env

# Build files
dist
server/dist
dashboard/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db